# List

1) List is an ordered sequence of items.
2) We can have different data types under a list. E.g we can have integer, float and string items in
a same list.

### List Creation

In [1]:
list1 = [] # Empty List

In [2]:
print(type(list1))

<class 'list'>

In [3]:
list2 = [10,30,60] # List of integers numbers

In [4]:
list3 = [10.77,30.66,60.89] # List of float numbers

In [5]:
list4 = ['one','two' , "three"] # List of strings

In [6]:
list5 = ['Asif', 25 ,[50, 100],[150, 90]] # Nested Lists

In [7]:
list6 = [100, 'Asif', 17.765] # List of mixed data types

In [8]:
list7 = ['Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'}]

In [9]:
len(list6) #Length of list

3

In [10]:
list2[0] # Retreive first element of the list

10

In [11]:
list4[0] # Retreive first element of the list

'one'

In [12]:
list4[0][0] # Nested indexing - Access the first character of the first list element

'o'

In [13]:
list4[-1] # Last item of the list

'three'

In [14]:
list5[-1] # Last item of the list

[150, 90]

### List Slicing

In [15]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [24]:
mylist[0:3] # Return all items from 0th to 3rd index location excluding the item

['one', 'two', 'three']

In [17]:
mylist[2:5] # List all items from 2nd to 5th index location excluding the item

['three', 'four', 'five']

In [18]:
mylist[:3] # Return first three items

['one', 'two', 'three']

In [19]:
mylist[:2] # Return first two items

['one', 'two']

In [20]:
mylist[-3:] # Return last three items

['six', 'seven', 'eight']

In [21]:
mylist[-2:] # Return last two items

['seven', 'eight']

In [22]:
mylist[-1] # Return last item of the list

'eight'

In [23]:
mylist[:] # Return whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

### Add , Remove & Change Items

In [25]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [26]:
mylist.append('nine') # Add an item to the end of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [27]:
mylist.insert(9,'ten') # Add item at index location 9
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [28]:
mylist.insert(1,'ONE') # Add item at index location 1
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [29]:
mylist.remove('ONE') # Remove item "ONE"
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [30]:
mylist.pop() # Remove last item of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [31]:
mylist.pop(8) # Remove item at index location 8
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [32]:
del mylist[7] # Remove item at index location 7
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [33]:
# Change value of the string
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [34]:
mylist.clear() # Empty List / Delete all items in the list
mylist

[]

In [35]:
del mylist # Delete the whole list
mylist

NameError: name 'mylist' is not defined

### Copy List

In [36]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [37]:
mylist1 = mylist # Create a new reference "mylist1"

In [38]:
id(mylist) , id(mylist1) # The address of both mylist & mylist1 will be the same

(1848802331264, 1848802331264)

In [39]:
mylist2 = mylist.copy() # Create a copy of the list

In [40]:
id(mylist2) # The address of mylist2 will be different from mylist because mylist

1848802297792

In [41]:
mylist[0] = 1

In [42]:
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [43]:
mylist1 # mylist1 will be also impacted as it is pointing to the same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [44]:
mylist2 # Copy of list won't be impacted due to changes made on the original list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

### Join Lists

In [46]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

In [47]:
list3 = list1 + list2 # Join two lists by '+' operator
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [48]:
list1.extend(list2) #Append list2 with list1
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

### List Membership

In [49]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [50]:
'one' in list1 # Check if 'one' exist in the list

True

In [51]:
'ten' in list1 # Check if 'ten' exist in the list

False

In [52]:
if 'three' in list1: # Check if 'three' exist in the list
print('Three is present in the list')
else:
print('Three is not present in the list')

IndentationError: expected an indented block after 'if' statement on line 1 (1303907934.py, line 2)

In [53]:
if 'eleven' in list1: # Check if 'eleven' exist in the list
print('eleven is present in the list')
else:
print('eleven is not present in the list')

IndentationError: expected an indented block after 'if' statement on line 1 (1752579650.py, line 2)

### Reverse & Sort List

In [54]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [55]:
list1.reverse() # Reverse the list
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [56]:
list1 = list1[::-1] # Reverse the list
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [57]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort() # Sort list in ascending order
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [58]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse=True) # Sort list in descending order
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [59]:
mylist4 = [88,65,33,21,11,98]
sorted(mylist4) # Returns a new sorted list and doesn't change original list

[11, 21, 33, 65, 88, 98]

In [60]:
mylist4

[88, 65, 33, 21, 11, 98]

### Loop through a list

In [61]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [63]:
for i in list1:
    print(i)

one
two
three
four
five
six
seven
eight

In [64]:
for i in enumerate(list1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

### Count

In [65]:
list10 =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [66]:
list10.count('one') # Number of times item "one" occurred in the list.

3

In [67]:
list10.count('two') # Occurence of item 'two' in the list

2

In [68]:
list10.count('four') #Occurence of item 'four' in the list

1

### All / Any

The **all()** method returns:
- **True** - If all elements in a list are true
- **False** - If any element in a list is false

The **any()** function returns True if any element in the list is True. If not, any() returns False.

In [71]:
L1 = [1,2,3,4,0]

In [72]:
all(L1) # Will Return false as one value is false (Value 0)

False

In [73]:
any(L1) # Will Return True as we have items in the list with True value

True

In [74]:
L2 = [1,2,3,4,True,False]

In [75]:
all(L2) # Returns false as one value is false

False

In [76]:
any(L2) # Will Return True as we have items in the list with True value

True

In [77]:
L3 = [1,2,3,True]

In [78]:
all(L3) # Will return True as all items in the list are True

True

In [79]:
any(L3) # Will Return True as we have items in the list with True value

True

### List Comprehensions

- List Comprehensions provide an elegant way to create new lists.
- It consists of brackets containing an expression followed by a for clause, then zero or more for
or if clauses.

In [80]:
mystring = "WELCOME"
mylist = [ i for i in mystring ] # Iterating through a string Using List Comprehe
mylist

['W', 'E', 'L', 'C', 'O', 'M', 'E']

In [81]:
mylist1 = [ i for i in range(40) if i % 2 == 0] # Display all even numbers betwee
mylist1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [82]:
mylist2 = [ i for i in range(40) if i % 2 == 1] # Display all odd numbers between
mylist2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [83]:
mylist3 = [num**2 for num in range(10)] # calculate square of all numbers between
mylist3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [84]:
# Multiple whole list by 10
list1 = [2,3,4,5,6,7,8]
list1 = [i*10 for i in list1]
list1

[20, 30, 40, 50, 60, 70, 80]

In [85]:
#List all numbers divisible by 3 , 9 & 12 using nested "if" with List Comprehensi
mylist4 = [i for i in range(200) if i % 3 == 0 if i % 9 == 0 if i % 12 == 0]
mylist4

[0, 36, 72, 108, 144, 180]

In [88]:
# Extract numbers from a string
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isdigit()]
numbers

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [89]:
# Extract letters from a string
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isalpha()]
numbers

['O',
 'n',
 'e',
 't',
 'w',
 'o',
 't',
 'h',
 'r',
 'e',
 'e',
 'f',
 'o',
 'u',
 'r',
 'f',
 'i',
 'v',
 'e',
 's',
 'i',
 'x']