# Strings

### String Creation

In [1]:
str1 = "HELLO PYTHON"

print(str1)

HELLO PYTHON

In [2]:
mystr = 'Hello World' # Define string using single quotes

print(mystr)

Hello World

In [3]:
mystr = "Hello World" # Define string using double quotes

print(mystr)

Hello World

In [4]:
mystr = '''Hello 
            World''' # Define string using triple single quotes

print(mystr)

Hello
            World

In [5]:
mystr = """Hello 
            World""" # Define string using triple double quotes

print(mystr)

Hello
            World

In [6]:
mystr = ('Happy '
         'Moday '
         'Everyone ')
print(mystr)

Happy Moday Everyone

In [8]:
mystr2 = 'Woohoo '
mystr2 = mystr2 * 5
mystr2

'Woohoo Woohoo Woohoo Woohoo Woohoo '

In [9]:
len(mystr2) # Length of string

35

### String Indexing

In [10]:
str1

'HELLO PYTHON'

In [11]:
str1[0] # First character in string "str1"

'H'

In [12]:
str1[len(str1)-1] # Last character in string using len function

'N'

In [13]:
str1[-1] # Last character in string

'N'

In [14]:
str1[6] #Fetch 7th element of the string

'P'

In [15]:
str1[5]

' '

### String Slicing

In [16]:
str1[0:5] # String slicing - Fetch all characters from 0 to 5 index location

'HELLO'

In [17]:
str1[6:12] # String slicing - Retreive all characters between 6 - 12 index location

'PYTHON'

In [18]:
str1[-4:] # Retreive last four characters of the string

'THON'

In [19]:
str1[-6:] # Retreive last six characters of the string

'PYTHON'

In [20]:
str1[:4] # Retreive first four characters of the string

'HELL'

In [21]:
str1[:6] # Retreive first six characters of the string

'HELLO '

### Update & Delete String

In [22]:
str1

'HELLO PYTHON'

In [23]:
#Strings are immutable which means elements of a string cannot be changed
str1[0:5] = 'HOLAA'

TypeError: 'str' object does not support item assignment

In [24]:
del str1 # Delete a string
print(srt1)

NameError: name 'srt1' is not defined

### String concatenation

In [25]:
# String concatenation
s1 = "Hello"
s2 = "Asif"
s3 = s1 + s2
print(s3)

HelloAsif

In [26]:
# String concatenation
s1 = "Hello"
s2 = "Asif"
s3 = s1 + " " + s2
print(s3)

Hello Asif

### Iterating through a String

In [27]:
mystr1 = "Hello Everyone"

# Iteration
for i in mystr1:
    print(i)

H
e
l
l
o

E
v
e
r
y
o
n
e

In [29]:
for i in enumerate(mystr1):
    print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'E')
(7, 'v')
(8, 'e')
(9, 'r')
(10, 'y')
(11, 'o')
(12, 'n')
(13, 'e')

In [30]:
list(enumerate(mystr1)) # Enumerate method adds a counter to an iterable and return

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'E'),
 (7, 'v'),
 (8, 'e'),
 (9, 'r'),
 (10, 'y'),
 (11, 'o'),
 (12, 'n'),
 (13, 'e')]

### String Membership

In [31]:
# String membership
mystr1 = "Hello Everyone"
print ('Hello' in mystr1) # Check whether substring "Hello" is present in string
print ('Everyone' in mystr1) # Check whether substring "Everyone" is present in string
print ('Hi' in mystr1) # Check whether substring "Hi" is present in string "mystr1"

True
True
False

### String Partitioning

In [32]:
"""
The partition() method searches for a specified string and splits the string into three elements.
- The first element contains the part before the argument string.
- The second element contains the argument string.
- The third element contains the part after the argument string.
"""
str5 = "Natural language processing with Python and R and Java"
L = str5.partition("and")
print(L)

('Natural language processing with Python ', 'and', ' R and Java')

In [33]:
"""
The rpartition() method searches for the last occurence of the specified string and contains three elements.
- The first element contains the part before the argument string.
- The second element contains the argument string.
- The third element contains the part after the argument string.
"""
str5 = "Natural language processing with Python and R and Java"
L = str5.rpartition("and")
print(L)

('Natural language processing with Python and R ', 'and', ' Java')

### String Functions

In [34]:
mystr2 = " Hello Everyone "
mystr2

' Hello Everyone '

In [35]:
mystr2.strip() # Removes white space from begining & end

'Hello Everyone'

In [36]:
mystr2.rstrip() # Removes all whitespaces at the end of the string

' Hello Everyone'

In [37]:
mystr2.lstrip() # Removes all whitespaces at the begining of the string

'Hello Everyone '

In [38]:
mystr2 = "*********Hello Everyone***********All the Best**********"
mystr2

'*********Hello Everyone***********All the Best**********'

In [39]:
mystr2.strip('*') # Removes all '*' characters from begining & end of the string

'Hello Everyone***********All the Best'

In [40]:
mystr2.rstrip('*') # Removes all '*' characters at the end of the string

'*********Hello Everyone***********All the Best'

In [41]:
mystr2.lstrip('*') # Removes all '*' characters at the begining of the string

'Hello Everyone***********All the Best**********'

In [46]:
mystr2 = " Hello Everyone "

mystr2.lower() # Return whole string in lowercase

' hello everyone '

In [47]:
mystr2.upper() # Return whole string in uppercase

' HELLO EVERYONE '

In [48]:
mystr2.replace("He" , "Ho") #Replace substring "He" with "Ho"

' Hollo Everyone '

In [49]:
mystr2.replace(" " , "") # Remove all whitespaces using replace function

'HelloEveryone'

In [50]:
mystr5 = "one two Three one two two three"

mystr5.count("one") # Number of times substring "one" occurred in string.

2

In [51]:
mystr5.count("two") # Number of times substring "two" occurred in string.

3

In [52]:
mystr5.startswith("one") # Return boolean value True if string starts with "one"

True

In [53]:
mystr5.endswith("three") # Return boolean value True if string ends with "three"

True

In [55]:
mystr4 = "one two three four one two two three five five six seven six seven one"

In [56]:
mylist = mystr4.split() # Split String into substrings
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one']

In [57]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77
res = "Cost of item1 , item2 and item3 are {} , {} and {}"
print(res.format(item1,item2,item3))

Cost of item1 , item2 and item3 are 40 , 55 and 77

In [58]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77
res = "Cost of item3 , item2 and item1 are {2} , {1} and {0}"
print(res.format(item1,item2,item3))

Cost of item3 , item2 and item1 are 77 , 55 and 40

In [59]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100) # center align the string using a specific character
print(str2)

                                          WELCOME EVERYONE

In [60]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100,'*') # center align the string using a specific character
print(str2)

***************************************** WELCOME EVERYONE *****************************************

In [61]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50) # Right align the string using a specific character
print(str2)

                                 WELCOME EVERYONE

In [62]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50,'*') # Right align the string using a specific character
print(str2)

******************************** WELCOME EVERYONE

In [63]:
str4 = "one two three four five six seven"
loc = str4.find("five") # Find the location of word 'five' in the string "str4"
print(loc)

19

In [64]:
str4 = "one two three four five six seven"
loc = str4.index("five") # Find the location of word 'five' in the string "str4"
print(loc)

19

In [65]:
mystr6 = '123456789'
print(mystr6.isalpha()) # returns True if all the characters in the text are letter
print(mystr6.isalnum()) # returns True if a string contains only letters or number
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

False
True
True
True

In [66]:
mystr6 = 'abcde'
print(mystr6.isalpha()) # returns True if all the characters in the text are letter
print(mystr6.isalnum()) # returns True if a string contains only letters or number
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

True
True
False
False

In [67]:
mystr6 = 'abc12309'
print(mystr6.isalpha()) # returns True if all the characters in the text are letter
print(mystr6.isalnum()) # returns True if a string contains only letters or number
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

False
True
False
False

In [68]:
mystr7 = 'ABCDEF'
print(mystr7.isupper()) # Returns True if all the characters are in upper case
print(mystr7.islower()) # Returns True if all the characters are in lower case

True
False

In [69]:
mystr8 = 'abcdef'
print(mystr8.isupper()) # Returns True if all the characters are in upper case
print(mystr8.islower()) # Returns True if all the characters are in lower case

False
True

In [71]:
str6 = "one two three four one two two three five five six one ten eight ten nine"
loc = str6.rfind("one") # last occurrence of word 'one' in string "str6"
print(loc)

51

In [72]:
loc = str6.rindex("one") # last occurrence of word 'one' in string "str6"
print(loc)

51

In [73]:
txt = " abc def ghi "
txt.rstrip()

' abc def ghi'

In [74]:
txt = " abc def ghi "
txt.lstrip()

'abc def ghi '

In [75]:
txt = " abc def ghi "
txt.strip()

'abc def ghi'

### Using Escape Character

In [76]:
#Using double quotes in the string is not allowed.
mystr = "My favourite TV Series is "Game of Thrones""

SyntaxError: invalid syntax (739327747.py, line 2)

In [77]:
#Using escape character to allow illegal characters
mystr = "My favourite series is \"Game of Thrones\""
print(mystr)

My favourite series is "Game of Thrones"