# Tuples

1. Tuple is similar to List except that the objects in tuple are immutable which means we cannot
change the elements of a tuple once assigned.
2. When we do not want to change the data over time, tuple is a preferred data type.
3. Iterating over the elements of a tuple is faster compared to iterating over a list.

### Tuple Creation

In [1]:
tup1 = () # Empty tuple
tup2 = (10,30,60) # tuple of integers numbers
tup3 = (10.77,30.66,60.89) # tuple of float numbers
tup4 = ('one','two' , "three") # tuple of strings
tup5 = ('Asif', 25 ,(50, 100),(150, 90)) # Nested tuples
tup6 = (100, 'Asif', 17.765) # Tuple of mixed data types
tup7 = ('Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'} , (99,22,33))

In [2]:
len(tup7) #Length of list

6

### Tuple Indexing

In [3]:
tup2[0] # Retreive first element of the tuple

10

In [4]:
tup4[0] # Retreive first element of the tuple

'one'

In [5]:
tup4[0][0] # Nested indexing - Access the first character of the first tuple element

'o'

In [6]:
tup4[-1] # Last item of the tuple

'three'

In [7]:
tup5[-1] # Last item of the tuple

(150, 90)

### Tuple Slicing

In [8]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [9]:
mytuple[0:3] # Return all items from 0th to 3rd index location excluding the item

('one', 'two', 'three')

In [10]:
mytuple[2:5] # List all items from 2nd to 5th index location excluding the item

('three', 'four', 'five')

In [11]:
mytuple[:3] # Return first three items

('one', 'two', 'three')

In [12]:
mytuple[:2] # Return first two items

('one', 'two')

In [13]:
mytuple[-3:] # Return last three items

('six', 'seven', 'eight')

In [14]:
mytuple[-2:] # Return last two items

('seven', 'eight')

In [15]:
mytuple[-1] # Return last item of the tuple

'eight'

In [16]:
mytuple[:] # Return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

### Remove & Change Items

In [17]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [18]:
del mytuple[0] # Tuples are immutable which means we can't DELETE tuple items

TypeError: 'tuple' object doesn't support item deletion

In [19]:
mytuple[0] = 1 # Tuples are immutable which means we can't CHANGE tuple items

TypeError: 'tuple' object does not support item assignment

In [20]:
del mytuple # Deleting entire tuple object is possible

### Loop through a tuple

In [22]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [23]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [24]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [25]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

### Count

In [26]:
mytuple1 =('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [27]:
mytuple1.count('one') # Number of times item "one" occurred in the tuple.

3

In [28]:
mytuple1.count('two') # Occurence of item 'two' in the tuple

2

In [29]:
mytuple1.count('four') #Occurence of item 'four' in the tuple

1

### Tuple Membership

In [30]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [31]:
'one' in mytuple # Check if 'one' exist in the list

True

In [32]:
'ten' in mytuple # Check if 'ten' exist in the list

False

In [33]:
if 'three' in mytuple: # Check if 'three' exist in the list
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

Three is present in the tuple

In [34]:
if 'eleven' in mytuple: # Check if 'eleven' exist in the list
    print('eleven is present in the tuple')
else:
    print('eleven is not present in the tuple')

eleven is not present in the tuple

### Index Position

In [35]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [36]:
mytuple.index('one') # Index of first element equal to 'one'

0

In [37]:
mytuple.index('five') # Index of first element equal to 'five'

4

In [38]:
mytuple1

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [39]:
mytuple1.index('one') # Index of first element equal to 'one'

0

### Sorting

In [40]:
mytuple2 = (43,67,99,12,6,90,67)

In [41]:
sorted(mytuple2) # Returns a new sorted list and doesn't change original tuple

[6, 12, 43, 67, 67, 90, 99]

In [42]:
sorted(mytuple2, reverse=True) # Sort in descending order

[99, 90, 67, 67, 43, 12, 6]